{{> header}}

<body>
      <h1>{{title}}</h1>
      <form class="contactForm">
            <input type="text" name="firstname" placeholder="First Name">
            <button type="submit" formenctype="text/plain" formaction="/confirmation" formmethod="post">Submit</button>
      </form>
</body>
