<!DOCTYPE html>
<head>
      <link rel="stylesheet" href="/public/style.css" charset="utf-8">
      <title>{{title}}</title>
</head>
<body>
      <h1>{{title}}</h1>
      <form class="contactForm">
            <input type="text" name="firstname" placeholder="First Name">
            <!-- <input type="text" name="lastname" placeholder="Last Name"> -->
            <!-- <input type="tel" name="phone" placeholder="Phone #">
            <input type="email" name="email" placeholder="Email">
            <textarea type="text" name="message" placeholder="Message"></textarea> -->
            <button type="submit" formenctype="text/plain" formaction="/submitted" formmethod="post">Submit</button>
      </form>
</body>
